 .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 64px 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}​